@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box
}
 
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: center;
}

.content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    width: 100%;
    gap: 125px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 275px;
    align-items: center;
}

nav a {
    font-size: 27px;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 40px;
 }

nav a :hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
    cursor: pointer;
}

.contentLogo {
    position: relative;
    margin-left: -20px;
}

.contenth1 {
    max-width: 1440px;
    position: relative;
    height: 200px;
}

h1 {
    font-size: 90px;
}


/*********************banner*******************/

.contener_Photo_Banner {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding-bottom: 50px;
}

.contener_Photo_Banner img {
    object-fit: cover;
    width: 100%;
}

.texte_présentation{
    max-width: 500px;
}

.texte_présentation p {
    font-size: 30px;
    margin: 0px 30px;
}

/***************présentation du verger*************/

.présentation_verger {
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
}

.présentation_verger img {
    object-fit: cover;
    width: 100%;
    min-width: 500px;
}

.transition_champ{
    max-width: 1440px;
    display: flex;
}


.présentation_Noémie{
    max-width: 1440px;
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.bloc_noémie{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.bloc_noémie img {
    object-fit: cover ;
}

.présentation_Noémie p{
    font-size: 40px;
    text-align: center;
}

/********************gallery*******************/

.gallery {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.carte_produit {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.carte_produit img{
    width: 100%;
    object-fit: cover;
}

.carte_produit1 {
    padding: 10px;
    margin: 20px 20px 20px 0px;
    border: 1px solid black;
}

.carte_produit1 img{
    width: 100%;
    object-fit: cover;
}

.carte_produit2 {
    padding: 10px;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
}

.carte_produit2 img{
    width: 100%;
    object-fit: cover;
}


/**********************liste***********************/
.the_product {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
}

.the_product img{
    object-fit: cover;
    width: 100%;
}

.block_liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h2 {
    font-size: 40px;
    margin: 0;
    padding-right: 150px;
}

ul {
    list-style-type : none;
}

li {
    font-size: 25px;
    padding-left: 200px;
}

/**************section commande******************/
.section_commande {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

#sentence_command {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid black;
    text-align: center;
}

#adresse_mail {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    padding-bottom: 40px;
    margin-bottom: 20px;    
    border-bottom: 1px solid black;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****************footer*******************/
.footer {
    margin-top: 40px;
    width: 100%;
}

.transition_champ{
    width: 100%;
    display: flex;
    justify-content: center;
}

.transition_champ img {
    object-fit: cover;
    position: absolute;
}
.thanks {
    color: white;
    font-size: 60px;
    position: relative;
    text-align: center;
    padding-top: 240px;
    max-width: 1440px;
    
}

@media screen and (max-width: 1470px){
h1{
    padding-top: 35px;
 font-size: 60px;
}

.content_header {
    gap: 100px;
}
.contenth1{
    display: flex;
    align-items: baseline;
}
}

@media screen and (max-width: 1250px){

h1{
    padding-top: 50px;
    font-size: 50px;
}

.content_header {
    gap: 140px;
}
}

@media screen and (max-width: 1150px){
.content_header {
    gap: 50px;
}
nav{
    width: 150px;
}

h1{
    padding-top: 45px;
    text-align: center;
}

}

@media screen and (max-width: 1000px){
.présentation_verger{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texte_présentation {
    max-width: 900px ;
    text-align: center;
}
.content_photo_présentation{
    max-width: 1000px;
    padding-top: 40px;
}
.content_photo_présentation{
    object-fit: cover;
    width: 100%;
}
}

@media screen and (max-width: 835px){
h1{
    padding-top: 25px;
    text-align: center;
}
}

@media screen and (max-width: 790px){

.texte_présentation{
    padding-bottom: 40px;
}

.texte_présentation p {
    text-align: center;
}
/*****présentation noémie*******/
.présentation_Noémie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc_noémie{
    width: 100%;
}
.bloc_noémie img {
    width: 100%;
}

/***gallery**/
.gallery{
    display: flex;
    justify-content: center;
    width: 100%;
}
.carte_produit {
    width: 50%;
}


.the_product{
    flex-direction: column;
}
h2{
    padding: 20px 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    padding: 0;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****sectioncommande*****/
.section_commande{
 display: flex;
}

.section_commande article{
    max-width: 80%;
    height: auto;
}

.carte_produit1{ 
    display: none;
}

.carte_produit2{ 
    display: none;
}

#sentence_command{
    font-size: 30px;
    text-align: center;
    height: max-content;
    max-width: 80%;
}

#adresse_mail{
    font-size: 30px;
}
}

@media screen and (max-width: 600px) {
.content_header {
    flex-direction: column;
    align-items: center;
    gap:0px;
}
.contenth1{
    height: fit-content;
}

h1{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav a {
    padding: 0px;
    height: fit-content;
}
}

@media screen and (max-width: 450px){
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.carte_produit {
    width:80%;
}
}

@media screen and (max-width: 400px) {
.texte_présentation {
    width: 330px;
}

.texte_présentation p{
    font-size: 25px;
}
.content_photo_présentation{
    display: flex;
    justify-content: center;
    max-width: 330px;
}

.présentation_Noémie {
    width: 100%;
    display: flex;
    justify-content: start;
}
.bloc_noémie{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}
.bloc_noémie img{
    width: 100%;
}
.présentation_Noémie p {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
}

#sentence_command{
    max-width: 90%;
}

#adresse_mail {
    font-size: 25px;
} 
}

