* {
    box-sizing: border-box
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

main{
    padding: 10px;
}
/******header********/
header {
    display: flex;
    justify-content: center;
}

.content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 125px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 275px;
    align-items: center;
}

nav a {
    font-size: 27px;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 40px;
}

nav a :hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
    cursor: pointer;
}

.contentLogo {
    position: relative;
    margin-left: -20px;
}

.contenth1 {
    max-width: 1440px;
    position: relative;
    height: 200px;
}

h1 {
    font-size: 90px;
}


/*********************banner*******************/
.Présentation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contener_Photo_Banner {
    max-width: 1440px;
    width: 100%;
    padding-bottom: 50px;
}

.contener_Photo_Banner img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.texte_présentation {
    display: flex;
    max-width: 500px;
}

.texte_présentation p {
    font-size: 30px;
    margin: 0px 30px;
}

/***************présentation du verger*************/

.présentation_verger {
    display: flex;
    justify-content: center;
    width: 100%;
}

.block_présentation_verger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.content_photo_présentation img {
    object-fit: cover;
    width: 100%;
    border-radius: 0px 50px;
}

.transition_champ {
    max-width: 1440px;
    display: flex;
}

/********présentation noémie****************/
.présentation_Noémie {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.block_présentation_Noémie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.block_noémie {
    width: 50%;

}

.block_noémie img {
    object-fit: cover;
    border-radius: 0px 50px;
    width: 100%;
}

.présentation_Noémie p {
    width: 50%;
    font-size: 40px;
    text-align: center;
}

/********************gallery*******************/

.gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
}

.bloc_gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
}

.carte_produit {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.carte_produit img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.carte_produit1 {
    padding: 10px;
    margin: 20px 20px 20px 0px;
    border: 1px solid black;
}

.carte_produit1 img {
    width: 100%;
    object-fit: cover;
}

.carte_produit2 {
    padding: 10px;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
}

.carte_produit2 img {
    width: 100%;
    object-fit: cover;
}


/**********************liste***********************/

.the_product{
    width: 100%;
    display: flex;
    justify-content: center;
}

.block_product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.the_product img {
    object-fit: cover;
    width: 100%;
    border-radius: 200px 0px;
}

.block_liste {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

h2 {
    font-size: 40px;
    margin: 0;
    padding-right: 150px;
}

.block_liste ul {
    list-style-type: none;
}

.block_liste ul li {
    font-size: 25px;
    padding-left: 200px;
}

/**************section commande******************/

.section_commande {
    display: flex;
    justify-content: center;
    width: 100%;
}

.block_commande {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

#sentence_command {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid black;
    text-align: center;
}

#adresse_mail {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facebook {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

/************ les commentaires*************/
.Les_commantaires{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Com {
    max-width: 1440px;
    border-bottom: 1px solid black;
    width: 100%;
}

h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.block_les_commentaires {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

.commentaire {
    width: 23%;
}

.commentaire p {
    height: 110px;
    overflow: auto;
    padding: 15px;
    border: black solid 1px;
}

.nom_com {
    font-size: 18px;
    color: grey;
}

/*********les partenaires***************/
.les_sites_partenaires{
    display: flex;
    justify-content: center;
    width: 100%;
}

.block_les_sites_partenaires {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#titre_partenaires {
    font-size: 25px;
    margin: 0px;
    padding: 20px 0px;
}

.liste_des_sites {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.liste_des_sites ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.liste_des_sites li {
    padding: 0px;
    font-size: 20px;
    list-style-type: none;
}

.liste_des_sites a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.liste_des_sites a img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    padding: 5px;
    margin-top: 5px;
}

.liste_des_sites a p {
    margin: 5px;
    display: flex;
}

/****************footer*******************/

.block_photo_footer img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 400px;
}

.thanks {
    color: white;
    font-size: 60px;
    position: relative;
    text-align: center;
    padding-top: 240px;
}

@media screen and (max-width: 1440px) {
    h1 {
        padding-top: 35px;
        font-size: 60px;
    }

    .content_header {
        gap: 100px;
    }

    .contenth1 {
        display: flex;
        align-items: baseline;
    }
}

@media screen and (max-width: 1250px) {

    main {
        padding: 20px;
    }

    h1 {
        padding-top: 50px;
        font-size: 50px;
    }

    .content_header {
        gap: 140px;
    }

    .texte_présentation {
        width: 100%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        text-justify: auto;
        height: auto;
    }

    .content_photo_présentation {
        width: 100%;
        padding-top: 40px;
    }

    .content_photo_présentation img {
        object-fit: cover;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 1150px) {
    .content_header {
        gap: 50px;
    }

    nav {
        width: 150px;
    }

    h1 {
        padding-top: 45px;
        text-align: center;
    }
}

@media screen and (max-width: 835px) {

    h1 {
        padding-top: 25px;
        text-align: center;
        resize: horizontal;
    }

    .block_présentation_verger {
        flex-direction: column;
        align-items: center;
    }

    .block_product{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 790px) {

    .texte_présentation {
        padding-bottom: 40px;
        max-width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .texte_présentation p {
        text-align: center;
        margin: 0;
    }

    /*****présentation noémie*******/
    .présentation_Noémie {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bloc_noémie {
        display: flex;
        justify-content: center;
        max-width: 1440px;
        padding-bottom: 50px;
        min-width: 200px;
    }

    .bloc_noémie img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    /***gallery**/
    .gallery {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .carte_produit {
        width: 50%;
    }


    .the_product {
        flex-direction: column;
    }

    h2 {
        padding: 20px 0px;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        padding: 0;
    }

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /****sectioncommande*****/
    .section_commande {
        display: flex;
    }

    #sentence_command {
        font-size: 30px;
        text-align: center;
        height: max-content;
        max-width: 80%;
    }

    #adresse_mail {
        font-size: 30px;
    }

    .section_commande article {
        max-width: 80%;
        height: auto;
    }

    /******gallery*******/

    .carte_produit1 {
        display: none;
    }

    .carte_produit2 {
        display: none;
    }

    /**********les produits*************/
    .the_product {
        display: flex;
        width: 100%;
        min-width: none;
    }

    .block_photo_producte {
        display: flex;
        justify-content: center;
    }

    .block_photo_producte img {
        object-fit: cover;
        width: 90%;
    }


    /**************commentaires********/

    .block_les_commentaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1440px;
        width: 100%;
    }

    .commentaire {
        width: 70%;
    }

    /***********les partenaires****************/
    .liste_des_sites {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    /**************header********/
    .content_header {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .contenth1 {
        height: fit-content;
    }

    h1 {
        padding: 0px;
        margin: 0px;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav a {
        padding: 0px;
        height: fit-content;
    }

    /**************présentation noémie********/
    .texte_présentation {
        font-size: 25px;
        width: 90%;
        padding: 0px 10px;
        height: max-content;
    }

    .présentation_Noémie p {
        font-size: 25px;
    }

    /**************les produits********/
    .block_liste {
        width: 100%;
    }

    .block_liste ul li {
        padding-left: 10px;
    }

}

@media screen and (max-width: 450px) {


    .gallery {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    .carte_produit img {
        object-fit: contain;
    }

    .thanks {
        padding-top: 100px;
    }
}

@media screen and (max-width: 400px) {

    .texte_présentation {
        width: 330px;
    }

    .content_photo_présentation {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    /*********présentation noémie************/
    .présentation_Noémie {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .bloc_noémie {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .bloc_noémie img {
        width: 100%;
    }

    .présentation_Noémie p {
        position: relative;
    }

    /*******partie commande************/
    #sentence_command {
        max-width: 90%;
    }

    #adresse_mail {
        font-size: 25px;
    }

    .block_liste {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    h2 {
        padding: 0;
    }
}

/*******gallery*********/
.carte_produit {
    display: flex;
    align-items: center;
    max-width: 50%;
    min-width: none;
}

@media screen and (max-width: 330px) {
    nav a {
        text-align: center;
    }

    .thanks {
        font-size: 40px;
    }

    .nono {
        font-size: 10px;
    }

    #adresse_mail {
        font-size: 20px;
    }
}